WAZUH_INDEXER_URL=https://$WAZUH_SERVER_IP:9200
WAZUH_INDEXER_USER=admin
WAZUH_INDEXER_PASS=$WAZUH_ADMIN_PASSWORD

DEFECTDOJO_URL=http://$DEFECT_DOJO_SERVER_IP:8080
DEFECTDOJO_TOKEN=$DEFECT_DOJO_TOKEN
DEFECTDOJO_PRODUCT=SOC-Wazuh
DEFECTDOJO_ENGAGEMENT=Weekly Report

VT_API_KEY=$VT_API_KEY
OTX_API_KEY=$OTX_API_KEY
ABUSEIPDB_API_KEY=$ABUSEIPDB_API_KEY

DEFAULT_TIMEZONE=Asia/Jakarta
DEFAULT_TOP_N=10
DEFAULT_OUTPUT_FORMAT=pdf

WORKER_BASE_URL=http://$IP_WORKER:8008